
.Circle-container{
    width: 100vw;
    max-width: 52vw;
    min-width: 220px;
    height: auto; 
    }
    
     
    .Circle{
    width: 10vw;
    height: 10vw;
    min-width: 100px;
    min-height: 100px;
    margin: 2px;
    border-radius:50% ;
    flex-direction: column;
    cursor: pointer;
    
    
    }