

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    margin: 10px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2c0;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.02);
    background-color: #ffffffdb;
  }
  
  .avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
  }
  
  .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .details {
    text-align: center;
  }
  
  .employee-id {
    font-size: 16px;
    color: #333;
    margin: 0;
  }
  
  .employee-name {
    font-size: 24px;
    color: #333;
    margin: 0;
  }
  
  .employee-title {
    font-size: 12px;
    color: #555;
    margin: 0;
  }
  



.load-more-button {
    display: block;
    margin: 20px auto;
    padding: 12px 20px;
    font-size: 16px;
    background-color: #ffffff89;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .load-more-button:hover {
    background-color: #ffffffe3;
  }
  
  
  