.user-profile {
  width: 100vw;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  border-radius: 8px;

}

h1 {
  color: #000000;
  font-size: 28px;
  margin-bottom: 20px;
}


.Avatar2 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  border: 3px soild black;
  transform: translateY(-30px);
}

.firstRow {
  display: grid;
  grid-template-columns: 650px 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  text-align: left;

}

.row {
  background-color: #ffffffa4;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.121);
  transition: all 0.5s;
  cursor: pointer;
}



.row:hover {
  transform: scale(1.01);
  background-color: #ffffffdb;

}

.row>h2{
color: #004362;
text-decoration: underline;
margin-bottom: 10px;
}

.sub_row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.crid_N_emp {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 0.5fr 0.5fr;
  grid-gap: 10px;

}

.basicDetails-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 40px auto;
  grid-gap: 10px;
}

.basicDetails {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: auto;
}

.second_row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  text-align: left;

}

.label {
  font-weight: bold; 
  color: #333;
}



.value {
  word-break: break-all;
  color: #383838;
}

@media (max-width: 1100px) {
  .firstRow {
    grid-template-rows: 320px 190px;
    grid-template-columns: auto;

  }

  .crid_N_emp {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;

  }
}

@media (max-width: 800px) {
  .firstRow {
    display: inline ;
   

  }
   
  .basicDetails {
  display: inline ;
  
}
.crid_N_emp {
 display: inline  ;

}

.second_row {
  display: inline;
}
.marginBottom{
margin-bottom: 10px;
}
.user-profile{

  width: 95vw;
  padding: 0;
}
.row>h2{
  font-size: larger;
  margin-bottom: 20px;
  }
  .label ,.value {
    font-size: 14px;
  } 
  .sub_row {
    
    grid-template-columns: 0.4fr 0.6fr;
   
  }
  
}

 
 




.user-profile>div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
}


.loader {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}